<template>
  <div>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SPA.RUS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <router-link :to="{ name: 'home' }">Главная</router-link>
            </li>
            <li>
              <router-link :to="{ name: 'hello' }">О нас</router-link>
            </li>
            <li>
              <router-link :to="{ name: 'users.index' }">Пользователи</router-link>
            </li>
            <li>
              <router-link :to="{ name: 'users.create' }">Регистрация</router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <transition name="moveInUp">
        <router-view></router-view>
      </transition>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
    return {
      active: false,
    };
  },
  }
</script>