<template>
<div>
    <div id="blue">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h4>Немного о нашей команде</h4>
          <p>Девиз компании))</p>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>

  <div class="container w">
    <div class="row centered">
      <br><br>
      <div class="col-lg-4">
        <img class="img-circle" src="/images/about/1.jpg" width="110" height="110" alt="">
        <h4>Канат Харасаев</h4>
        <p>Backend Developer. PHP, MySQL, PostgeSQL, MongoDB, Laravel, HTML, GIT, Composer</p>
        <p><a href="#">@kemel_91</a></p>
      </div>
      <!-- col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="/images/about/2.jpg" width="110" height="110" alt="">
        <h4>Владимир Ефремов</h4>
        <p>Team Lead. Backend Developer. PHP, MySQL, PostgreSQL, Laravel, HTML, GIT, Composer</p>
        <p><a href="#">@cleargoal</a></p>
      </div>
      <!-- col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="/images/about/.jpg" width="110" height="110" alt="">
        <h4>Олег th.witness</h4>
        <p>Frondend Developer. HTML, CSS, JavaScript, VueJS, VueRouter, Nuxt, GIT</p>
        <p><a href="#">@thWitness</a></p>
      </div>
      <!-- col-lg-4 -->

    </div>
    <!-- row -->
  </div>
</div>
</template>