 <template>
  <div class="users">
    <div class="loading" v-if="loading">
      Loading...
    </div>

    <div v-if="error" class="error">
    <p>{{ error }}</p>

    <p>
        <button class="btn btn-primary" @click.prevent="fetchData">
            Повторить
        </button>
    </p>
    </div> 

    <ul v-if="users">
      <li v-for="{ id, name, email } in users" :key="{ id }">
        <strong>Name:</strong> {{ name }},
        <strong>Email:</strong> {{ email }}
        <router-link :to="{ name: 'users.edit', params: { id } }">Редактировать</router-link>
      </li>
    </ul>
   <div class="pagination">
      <button class="btn btn-primary" :disabled="! prevPage" @click.prevent="goToPrev">Назад</button>
      {{ paginatonCount }}
      <button class="btn btn-primary" :disabled="! nextPage" @click.prevent="goToNext">Вперед</button>
    </div>
  </div>
</template>
<script>
import axios from 'axios';

const getUsers = (page, callback) => {
  const params = { page };

  axios
    .get('/api/users', { params })
    .then(response => {
      callback(null, response.data);
    }).catch(error => {
      callback(error, error.response.data);
    });
};

export default {
  data() {
    return {
      users: null,
      meta: null,
      loading: true,
      links: {
        first: null,
        last: null,
        next: null,
        prev: null,
      },
      error: null,
    };
  },
  computed: {
    nextPage() {
      if (! this.meta || this.meta.current_page === this.meta.last_page) {
        return;
      }

      return this.meta.current_page + 1;
    },
    prevPage() {
      if (! this.meta || this.meta.current_page === 1) {
        return;
      }

      return this.meta.current_page - 1;
    },
    paginatonCount() {
      if (! this.meta) {
        return;
      }

      const { current_page, last_page } = this.meta;

      return `${current_page} of ${last_page}`;
    },
  },
  beforeRouteEnter (to, from, next) {
    getUsers(to.query.page, (err, data) => {
      next(vm => vm.setData(err, data));
    });
  },
  // when route changes and this component is already rendered,
  // the logic will be slightly different.
  beforeRouteUpdate (to, from, next) {
    this.users = this.links = this.meta = null
    this.loading = false
    getUsers(to.query.page, (err, data) => {
      this.setData(err, data);
      next();
    });
  },
  methods: {
    goToNext() {
      this.$router.push({
        query: {
          page: this.nextPage,
        },
      });
    },
    goToPrev() {
      this.$router.push({
        name: 'users.index',
        query: {
          page: this.prevPage,
        }
      });
    },
    setData(err, { data: users, links, meta }) {
      if (err) {
        this.error = err.toString();
      } else {
        this.users = users;
        this.links = links;
        this.meta = meta;
      }
    },
  }
}
</script> 