<template>
  <div>
    <div class="container desc">
      <div class="row">
        <!-- col-lg-6 -->
        <div class="col-lg-6 centered">
          <img src="/images/p03.png" alt />
        </div>
        <div class="col-lg-6">
          <div v-if="message" class="error-message">{{ message }}</div>
          <h4>Регистрация пользователя</h4>
          <form @submit.prevent="onSubmit($event)" class="contact-form php-mail-form" role="form">
            <div class="form-group">
              <label for="user_name">Имя</label>
              <input
                id="user_name"
                v-model="user.name"
                class="form-control"
                data-rule="minlen:4"
                data-msg="Please enter at least 4 chars"
              />
            </div>
            <div class="form-group">
              <label for="user_email">Email</label>
              <input
                id="user_email"
                type="email"
                v-model="user.email"
                class="form-control"
                data-rule="email"
                data-msg="Введите корректный Email"
              />
            </div>
            <div class="form-group">
              <label for="user_password">Пароль</label>
              <input
                id="user_password"
                type="password"
                v-model="user.password"
                class="form-control"
                data-rule="minlen:8"
                data-msg="Пароль должнен быть не менее 8 символов"
              />
            </div>
            <div class="form-send">
              <button
                type="submit"
                :disabled="saving"
                class="btn btn-large"
              >{{ saving ? 'Регистрируем...' : 'Регистрация' }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import api from "../api/users";

export default {
  data() {
    return {
      saving: false,
      message: false,
      user: {
        name: "",
        email: "",
        password: ""
      }
    };
  },
  methods: {
    onSubmit($event) {
    this.saving = true;
    setTimeout(() => {
      this.message = false;
      api
        .create(this.user)
        .then(response => {
            this.message = 'Вы успешно зарегистрировались';
            setTimeout(() => this.$router.push({ name: 'home' }), 1000);
        })
        .catch(e => {
          this.message =
            e.response.data.message || "There was an issue creating the user.";
        })
        .then(() => (this.saving = false));
        }, 2000);
    }
  }
};
</script>